@tailwind base;
@tailwind components;
@tailwind utilities;

/* Esto fuerza a que la app ocupe toda la ventana */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f9fafb; /* Color gris suave de fondo (gray-50) */
}